.img-size {
  display: block;
  width: 100%;
  height: auto;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v23/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
}
/* Header styles  */
.header {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: #28dddd;
  top: 0;
  left: 0;
  z-index: 100;
}
.header-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid #515369;
}
.nav {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
}
.nav-block {
  position: relative;
  width: 150px;
  height: 60px;
}
.nav-block::before {
  content: "";
  position: absolute;
  transform: skew(20deg);
  background: #28dddd;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nav-block:hover::before {
  background: #6d73a7;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s linear;
  letter-spacing: 2px;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 50%);
}
.nav-link:hover {
  color: #000;
  cursor: cursor;
}
.nav-link:hover:first-child {
  margin-left: 0;
}
.nav-product {
  margin-right: 20px;
}
.nav-bar {
  display: block;
  background-color: #eeeaea;
  padding: 10px;
}
.block-bar {
  display: none;
}
.bar-link {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  padding-bottom: 10px;
}
.bar-link:hover {
  color: #28dddd;
  cursor: cursor;
}
.icon-item {
  display: block;
  width: 33px;
  height: 4px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}
.icon-item::before,
.icon-item::after {
  content: "";
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 1;
}
.icon-item::before {
  width: 28px;
  top: -8px;
}
.icon-item::after {
  width: 28px;
  top: 9px;
}
/* info styles */
.info {
  width: 100%;
  min-height: 600px;
  padding: 50px 20px 20px;
  background-color: #6d73a7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/syr-lomti-vinograd-doska.jpg");
}
.info-logo {
  animation-name: info-logo;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.info-title {
  margin: 0 0 20px;
  font-size: 65px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.info-subtitle {
  margin: 0 0 30px;
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.info-btn {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 7px 18px;
  border: 1px solid #28dddd;
  border-radius: 3px;
  font-size: 13px;
  color: #fff;
  background-color: #28dddd;
  transition: background-color 0.2s linear;
  letter-spacing: 1px;
}
.info-btn:hover:hover {
  background-color: #1fa5a5;
}
@keyframes info-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Values styles */
.values {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10px 20px;
  background-image: url("../img/фон.jpg");
}
.values-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.values-items {
  display: flex;
  flex-direction: column;
}
.title-section-values {
  grid-row: 1;
  font-family: "Lobster", sans-serif;
  color: #222435;
  font-size: 40px;
  text-align: center;
  margin: 10px;
}
.title-values {
  font-family: "Lobster", sans-serif;
  color: #222435;
  font-size: 30px;
  margin: 20px;
  align-self: center;
}
.text-values {
  list-style: none;
  margin: 0;
}
li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
li::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: -30px;
  width: 20px;
  height: 20px;
  background-color: #28dddd;
}
li::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: -30px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  top: 5px;
  z-index: 1;
}
/* Blog-our-ptoducts styles */
.blog {
  width: 100%;
  display: grid;
  background-image: url("../img/фон.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 10px 20px;
}
.blog-img {
  width: 100%;
}
.blog-img-container {
  position: relative;
}
.blog-img-desc {
  width: 200px;
  height: 100px;
  background-color: #ECF0EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  position: relative;
}
.blog-img-desc-container {
  position: absolute;
  bottom: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.blog-img-desc-link {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  transition: color 0.2s linear;
}
.blog-img-desc-link:hover {
  color: #808080;
}
.blog-desc-container {
  margin-top: 90px;
  font-size: 18px;
  background-color: #fff;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 0 0 5px 2px #808080;
}
/* Factory styles */
.factory {
  width: 100%;
  background-image: url("../img/фон.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 10px 20px;
  display: grid;
  grid-template-areas: "video    content1" "content2 photo1" "photo2   content3";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.factory-video {
  grid-area: video;
  width: 90%;
  margin-bottom: 20px;
}
.factory-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  width: 80%;
  box-shadow: 0 0 5px 2px #808080;
  margin-bottom: 20px;
}
.factory-content1 {
  grid-area: content1;
}
.factory-photo1 {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.factory-photo1-block {
  grid-area: photo1;
  width: 90%;
}
.factory-content2 {
  grid-area: content2;
}
.factory-photo2-block {
  grid-area: photo2;
  width: 90%;
  height: auto;
}
.factory-content3 {
  grid-area: content3;
}
.factory-title {
  font-family: "Lobster", sans-serif;
  color: #222435;
  font-size: 30px;
  margin: 10px 10px;
  text-align: center;
}
.factory-text {
  margin: 0 20px 20px;
  font-size: 18px;
  line-height: 25px;
  text-align: start;
}
/* Reviews styles */
.reviews {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.reviews-photo {
  grid-column: 1;
  width: 100%;
  height: auto;
  background-image: url("../img/girl-book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.reviews-content {
  grid-column: 2;
  width: 100%;
  background-color: #28dddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 30px;
}
.reviews-text {
  font-style: italic;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 40px;
}
.reviews-author {
  color: #fff;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* Feedback styles */
.feedback {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.form-feedback {
  width: 100%;
  grid-column: 1;
  background-image: url("../img/фон.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.form-title {
  margin: 0 0 20px;
  font-family: "Lobster", sans-serif;
  color: #222435;
  font-size: 30px;
}
.form-contacts {
  display: flex;
  flex-direction: column;
}
.item-form {
  margin-bottom: 20px;
}
.item-form::placeholder {
  color: #000;
  font-size: 16px;
}
.message-item-form {
  min-height: 100px;
}
.button-send {
  width: 120px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: cursor;
  border: 1px solid black;
}
.map {
  grid-column: 2;
  width: 100%;
  height: auto;
}
/* Footer styles */
.footer {
  width: 100%;
  padding: 50px 20px;
  background-color: #28dddd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.footer-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
}
.footer-text {
  color: rgba(255, 255, 255, 0.9);
}
.footer-text p {
  margin: 5px 0;
}
.social {
  display: flex;
  margin-bottom: 20px;
}
.social-item {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  transition: background-color 0.1s linear;
}
.social-item:hover {
  background-color: #fff;
}
.social-icon {
  fill: #fff;
  display: block;
  width: 18px;
  transition: fill 0.1s linear;
}
.social-item:hover .social-icon {
  fill: #000;
}
.connection {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
.connection:hover {
  color: #000;
}
